body {
    background-color: #171717;
    font-style: normal;
    font-family: "Gilam Regular", sans-serif;
}


.container {
    max-width: 1472px;
    margin: 0 auto;
}

/* img {
    max-width: 100%;
} */

h1 {
    font-size: 50px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 20px;
}

.color-white {
    color: white;
}

.color-black {
    color: #000000;

}

.mb {
    margin-bottom: 94px;
}

.bg-black {
    background-color: #000000;
    max-height: 1054px;

}



/* --------------------------------------------------------- */

header.container {
    display: flex;
    font-family: "Circle", sans-serif;
    font-weight: 700;
    padding-top: 40px;
    align-items: center;
}

.logo {
    flex-grow: 1;
    margin-bottom: 20px;
}

.phonenumber {
    font-size: 20px;
    color: white;
    text-decoration: none;

}

.phonenumber span {
    color: #D6AF76;
}

.btn-feedback a {
    font-size: 18px;
    color: #E4B564;
    padding: 10px 25px;
    border: 1px solid #E4B564;
    margin-left: 39px;
    font-weight: 400;
    text-decoration: none;

}

.btn-feedback img {
    padding-right: 10px;
}




/* --------------------------GRID MAIN-------------------------- */
.grid-area {
    display: grid;
    grid-template-areas:
        "item-1 item-1 item-2 item-2 item-3 item-3"
        "item-4 item-4 item-4 item-5 item-5 item-5";
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
    padding: 41px 0 0 0;
    margin-bottom: 160px;

}

.item-1 {
    grid-area: item-1;
    background-color: #634F2C;
    text-align: center;
    padding: 220px 150px
}

.item-2 {
    grid-area: item-2;
    background-color: #B4A385;
    text-align: center;
    padding: 206px 44px
}

.item-3 {
    grid-area: item-3;
    background-color: #E4B564;
    text-align: center;
    padding: 220px 140px
}

.item-4 {
    grid-area: item-4;
    background-color: #635A4A;
    text-align: center;
    padding: 220px 162px
}

.item-5 {
    grid-area: item-5;
    background-color: #B08C4D;
    text-align: center;
    padding: 220px 240px
}


/* --------------------------FLEX-------------------------- */
.vhcls-flex {
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 190px;
}

.vhcls-flex div h5 {
    padding: 44px 0 0 52px;
    font-family: "Gilam Book", sans-serif;
    font-size: 20px;
    font-weight: 500;
}


.vhcls-1 {
    height: 310px;
    background-color: #0E0E0E;

}

.vhcls-2 {
    height: 560px;
    background-color: #1F1F1F;
}

.vhcls-3 {
    height: 440px;
    background-color: #242424;
}

.vhcls-4 {
    height: 430px;
    background-color: #E4B564;
}

.vhcls-5 {
    height: 250px;
    background-color: #1F1F1F;
}

.vhcls-6 {
    height: 310px;
    background-color: #0E0E0E;
}

.vhcls-7 {
    height: 280px;
    background-color: #0A0909;
}

.clients-content {
    margin-top: 172px;
    margin-bottom: 190px;
}

/* ------------------------------------------------------- */

.clients-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.btn-projects a {
    font-family: "Circle", sans-serif;
    font-size: 18px;
    color: #E4B564;
    padding: 10px 40px;
    border: 1px solid #E4B564;
    margin-left: 39px;
    font-weight: 400;
}

.clients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 94px 0 0 0;
}

.clients div {
    height: 391px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.client-1 {
    background-color: #634F2C;
}

.client-2 {
    align-content: center;
    justify-items: center;
}

.client-2 p {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.client-2 p span {
    font-family: "Gilam Book", sans-serif;
    font-weight: 500;
}

.client-3 {
    background-color: #E4B564;
}

.client-4 {
    background-color: #635A4A;
}

.client-5 {
    background-color: #B08C4D;
}

.client-6 {
    background-color: #634F2C;
}

.clients-header>h1 {
    margin-top: 72px;
}

@font-face {
    font-family: "Gilam Regular";
    src: url("../fonts/Gilam-Regular.ttf") format("truetype");

}

@font-face {
    font-family: "Gilam Book";
    src: url("../fonts/Gilam-Book.ttf") format("truetype");

}

@font-face {
    font-family: "Circle";
    src: url("../fonts/Circe-Regular.ttf") format("truetype");

}